ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="intel_backlight", RUN+="/bin/chgrp video /sys/class/backlight/intel_backlight/brightness", RUN+="/bin/chmod o+w /sys/class/backlight/intel_backlight/brightness" OPTIONS="log_level=debug"
